
/* All Typography Imports */
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    height: 100%;
    width: 100%;
}

.main{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(55, 109, 30);
    background: linear-gradient(140deg, rgb(55, 109, 30) 44%, rgb(12, 80, 6) 56%);
}

.nav h4{
    color: rgb(189, 190, 86);
    font-size: 2.5rem;
    -webkit-text-stroke: 1.5px rgb(119, 154, 99);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-style: normal;
    word-spacing: 1rem;
}

.stopwatch-frame{
    width: 60vw;
    height: 35vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1vw;
    overflow: hidden;
    padding: 2vw 3vw;
    margin-top: 2vw;
    position: relative;
    border-radius: 40px;
    /* background: rgba( 32, 32, 63, 0.2 ); */
    background-color: rgb(34, 66, 42);
    box-shadow: 0 8px 32px 0 rgba(43, 135, 31, 0.37);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.controls{
    width: 40%;
    height: 100%;
    /* background-color: white; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.clock{
    width: 17.25rem;
    height: 17.25rem;
    border-radius: 50%;
    position: relative;
    margin-top: 2vw;
    background-color: rgb(32, 69, 27);
    box-shadow: -34px -30px 64px -10px rgba(0, 252, 84, 0.16), 34px 30px 64px -10px rgba(166, 255, 0, 0.317);
}
.inner-clock{
    width: 16rem;
    height: 16rem;
    position: relative;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: rgb(12, 48, 39);
}
.main-clock{
    width: 15.25rem;
    height: 15.25rem;
    position: relative;
    left: 50%; top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    padding: 0 0.996rem;
    background-color: rgb(20, 57, 22);
    
}
.display{
    color: rgb(238, 241, 17);
    font-size: 2rem;
    width: fit-content;
    transition: all 0.3s ease-in-out;
    font-family: "Arsenal SC";
}
.buttons{
    width: 70%;
    height: 4vw;
    margin-top: 3vw;
    display: flex;
    background: transparent;
    box-shadow: 1px -1px 30px 1px rgba(0,0,0,0.35) inset, 1px -1px 30px 10px rgba(0,0,0,0.25);
    border: 2px solid rgb(53, 79, 49);
    border-radius: 5rem;
    align-items: center;
    justify-content: space-around;
}
.btn{
    width: 2.75rem;
    height: 2.75rem;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    box-shadow: 1px -1px 30px 5px rgba(0,0,0,0.35) inset;
    border-radius: 50%;
    border: 2px solid rgb(60, 105, 59);
    outline: none;
    transition: all 0.3s ease-in-out;
}
.btn:hover{
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.35) inset;
    font-size: 1.45;
    cursor: pointer;
}
.btn i{
    z-index: 10;
    font-size: 1.45rem;
    color: rgb(241, 169, 12);
}
.m-btn i{
   color: rgb(211, 176, 23);
    /* color: rgb(66,69,91); */
}
.st-btn i{
    color: rgb(220, 183, 20);
}
.cover{
    opacity: 0.25;
    pointer-events: none;
}


.lap-station{
    padding: 1.5rem 0;
    width: 40%;
    height: 100%;
}
.lap-table{
    width: 100%;
    height: 100%;
    background-color: rgb(33, 75, 43);
    border-radius: 15px;
    position: relative;
    box-shadow: -2px -1px 18px 4px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 1rem 1rem;
    overflow: auto;
}
.lap-table::-webkit-scrollbar{
    display: none;
}
.lap-head{
    font-family: cursive;
    display: flex;
    width: 100%;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
    border-bottom: 3px solid rgb(60, 82, 56);
    align-items: center;
    color: rgb(220, 113, 20);
    font-size: 0.85rem;
    justify-content: space-between;
}
.lap-item{
    list-style: none;
    font-family: cursive;
    margin-top: 0.25rem;
    width: 100%;
    color: rgb(219, 188, 50);
    display: flex ;
    padding: 0.25rem;
    font-size: 0.8rem;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid rgb(68, 76, 52);;
}
